 #caths {
  --col-2mmc: #DD44AA;
  --col-3mmc: #44AADD;
  --col-4mmc: #DDBB44;
  --col-3cmc: #6050F6;
  --col-4cmc: #CC7744;
  --col-dimethylpentylon: #44DD77;
}

#caths-h1 {
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-family: "Helvetica Neue LT Std", "Helvetica Neue", InterVariable, Inter, sans-serif;
	font-size: 2.8em;
}

#caths {
	background: #000;
	color: #fff;
	font-family: "Helvetica Neue LT Std", "Helvetica Neue", InterVariable, Inter, sans-serif;
	margin: 2rem;
	font-size: 22px;
	text-align: center;
}
#cathsform {
	text-align: center;
}
#caths #caths-container {
	/*width: 900px;*/
	margin: 0 auto;
	overflow: hidden;
	margin-top: 1.5em;
}
#caths #caths-plot {
	height: 475px;
	/*width: 900px;*/
	max-width: 1100px;
	margin: 0 auto;
}

#caths #caths-as, #caths #caths-is {
	text-align: center;
	color: #777;
	transition: all .2s;
	font-weight: 900;
}
#caths #caths-is {
	margin-top:.15em;
}
#caths #caths-as:before, #caths #caths-is:after {
	content: "➔";
	display: inline-block;
	margin: 0 .4em;
}
#caths #caths-as:before {
	transform: rotate(90deg);
}
#caths #caths-is:after {
	transform: rotate(-90deg);
}
#caths.highlight-as #caths-as,
#caths.highlight-is #caths-is {
	/*text-shadow: 0 0 .2em #fff;*/
	color: #fff;
}

#caths-clickpopup {
	display: none;
	position: fixed;
	opacity: 0;
	transition: bottom .15s, opacity .2s;
	bottom: -100px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	padding: .6em .5em 1.2em .5em;
	font-size:.8em;
	backdrop-filter: blur(.3em);
	font-weight: 400;
	box-shadow: 0 -.3em .5em rgba(0,0,0,.4);
}

@media (min-width: 750px) {
	#caths-clickpopup { display: none !important }
}

@media (max-width: 750px) {
	#caths { margin: 1rem }
	#caths #caths-container, #caths #caths-plot { width: 100% }
	#caths #caths-plot { height: 600px; }
	#caths #caths-as { text-align:left }
	#caths #caths-is { text-align:right }
}


#caths svg text { text-shadow: none !important }

#caths svg .sel {
	/*filter: drop-shadow(0 0 .2em rgba(255, 255, 255, .5)) !important;*/
	fill-opacity: .51 !important;
	/* fill: #ddd; */
	/*stroke-width: 4px !important;
  	stroke: #ffffff !important;
  	stroke-opacity: .15 !important;*/
}
#caths svg .correct.sel {
	fill-opacity: .7 !important;
}
#caths svg .sankey-node.sel text {
	filter: drop-shadow(0 0 .15em rgba(255, 255, 255, .5)) !important;
}
#caths svg .sankey-node.sel rect {
	/*filter: drop-shadow(0 0 .1em rgba(255, 255, 255, .4)) !important;*/
	fill-opacity: 1 !important;
	stroke-width: 4px !important;
  	stroke: #fff !important;
  	stroke-opacity: .15 !important;
}
#caths svg g.hoverlayer g.hovertext {
	/*visibility: hidden;*/
	opacity: 0;
	transition: opacity .2s;
}
#caths svg g.hoverlayer g.hovertext path {
	stroke-width: 0 !important;
	stroke: rgba(0,0,0,.5) !important;
	transform: scale(1.1);
}
#caths svg g.hoverlayer g.hovertext text {
	transform: translate(0, 10px);
}
#caths svg g.hoverlayer g.hovertext.start text {
	transform: translate(10px, 10px);
}
#caths svg g.hoverlayer g.hovertext.end text {
	transform: translate(-10px, 10px);
}
#caths svg g.hoverlayer tspan:first-child tspan:first-child,
#caths-clickpopup span:first-child {
	font-size: 1.3em;
	font-weight: 700;
}
#caths svg g.hoverlayer tspan tspan:nth-child(2) {
	/*num ... fill: #999;*/
}
#caths svg g.hovertext tspan:last-child tspan:last-child,
#caths-clickpopup span:last-of-type:not(:first-child) {
	font-weight: bold;
	font-size: 17px;
}
#caths svg g.hovertext.correct tspan:last-child tspan:last-child,
#caths-clickpopup.correct span:last-of-type:not(:first-child) {
	font-weight: normal;
}

#caths svg g.hovertext.subst-2mmc tspan,
#caths svg g.hovertext.as-2mmc.is-2mmc tspan,
#caths svg g.hovertext.is-2mmc tspan:last-child tspan:last-child,
#caths-clickpopup.subst-2mmc,
#caths-clickpopup.as-2mmc.is-2mmc,
#caths-clickpopup.is-2mmc span:last-of-type {
	fill: var(--col-2mmc);
	color: var(--col-2mmc);
}
#caths svg g.hovertext.subst-3mmc tspan,
#caths svg g.hovertext.as-3mmc.is-3mmc tspan,
#caths svg g.hovertext.is-3mmc tspan:last-child tspan:last-child,
#caths-clickpopup.subst-3mmc,
#caths-clickpopup.as-3mmc.is-3mmc,
#caths-clickpopup.is-3mmc span:last-of-type {
	fill: var(--col-3mmc);
	color: var(--col-3mmc);
}
#caths svg g.hovertext.subst-4mmc tspan,
#caths svg g.hovertext.as-4mmc.is-4mmc tspan,
#caths svg g.hovertext.is-4mmc tspan:last-child tspan:last-child,
#caths-clickpopup.subst-4mmc,
#caths-clickpopup.as-4mmc.is-4mmc,
#caths-clickpopup.is-4mmc span:last-of-type {
	fill: var(--col-4mmc);
	color: var(--col-4mmc);
}
#caths svg g.hovertext.subst-3cmc tspan,
#caths svg g.hovertext.as-3cmc.is-3cmc tspan,
#caths svg g.hovertext.is-3cmc tspan:last-child tspan:last-child,
#caths-clickpopup.subst-3cmc,
#caths-clickpopup.as-3cmc.is-3cmc,
#caths-clickpopup.is-3cmc span:last-of-type {
	fill: var(--col-3cmc);
	color: var(--col-3cmc);
}
#caths svg g.hovertext.subst-4cmc tspan,
#caths svg g.hovertext.as-4cmc.is-4cmc tspan,
#caths svg g.hovertext.is-4cmc tspan:last-child tspan:last-child,
#caths-clickpopup.subst-4cmc,
#caths-clickpopup.as-4cmc.is-4cmc,
#caths-clickpopup.is-4cmc span:last-of-type {
	fill: var(--col-4cmc);
	color: var(--col-4cmc);
}
#caths svg g.hovertext.subst-dimethylpentylon tspan,
#caths svg g.hovertext.as-dimethylpentylon.is-dimethylpentylon tspan,
#caths svg g.hovertext.is-dimethylpentylon tspan:last-child tspan:last-child,
#caths-clickpopup.subst-dimethylpentylon,
#caths-clickpopup.as-dimethylpentylon.is-dimethylpentylon,
#caths-clickpopup.is-dimethylpentylon span:last-of-type {
	fill: var(--col-dimethylpentylon);
	color: var(--col-dimethylpentylon);
}


