#caths {
	--col-2mmc: #DD44AA;
	--col-3mmc: #44AADD;
	--col-4mmc: #DDBB44;
	--col-3cmc: #6050F6;
	--col-4cmc: #CC7744;
	--col-dimethylpentylon: #44DD77;
	--col-hover-bg: rgba(30,30,30,.9);
	--col-hover-text: #fff;
	--col-hover-border: rgba(60,60,60,.9);

}
body.caths-color-zurich-black #caths,
body.caths-color-zurich-white #caths {
	--col-2mmc: #BCE59E;
	--col-3mmc: #351459;
	--col-4mmc: #0F05A0;
	--col-3cmc: #BCE59E;
	--col-4cmc: #BCE59E;
	--col-dimethylpentylon: #BCE59E;
}
body.caths-color-zurich-black #caths {
	--col-hover-text: #FFFFFF;
}
body.caths-color-zurich-white #caths {
	--col-hover-bg: rgba(255,255,255,.8);
	--col-hover-border: rgba(200,200,200,.8);
	--col-hover-text: #000;
	--col-hover-hilite: #000; /*A3BA88*/
}
body.caths-color-default #caths,
body.caths-color-zurich-black #caths{
	color: #999;
}
body.caths-color-zurich-white #cathsform input,
body.caths-color-zurich-white #cathsform select,
body.caths-color-zurich-white #cathsform button {
	background: #eee;
	color: #666;
}
body.caths-color-zurich-white #caths #caths-as,
body.caths-color-zurich-white #caths #caths-is {
	color: #000;
}
body.caths-color-zurich-black #caths.format-desktop svg .sankey-node .node-label:not(.node3mmc):not(.node4mmc),
body.caths-color-zurich-white #caths.format-mobile svg .sankey-node .node-label,
body.caths-color-zurich-white #caths svg .sankey-node .node-label:not(.node3mmc):not(.node4mmc) {
	fill: #000 !important;
}
body.caths-color-zurich-white #caths-h1 {
	color: #000;
}

#caths-h1 {
	/* Outside of #caths in presentation version –
	may or may not be present */
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-family: "Helvetica Neue LT Std", "Helvetica Neue", InterVariable, Inter, sans-serif;
	font-size: 2.8em;
	line-height: 1.3em;
	margin-bottom: 0;
}

#caths {
	/*background: #000;*/
	color: #666;
	font-family: "Helvetica Neue LT Std", "Helvetica Neue", InterVariable, Inter, sans-serif;
	margin: 1rem;
	text-align: center;
	font-size: 14px; /* "Loading... text only */
}

#cathsform {
	text-align: center;
}
#cathsform input, #cathsform select, #cathsform button {
	background: #333;
	color: #999;
	border: 0;
	padding: 4px 15px;
	border-radius: 1em;
	margin-bottom: 10px;
}
#cathsform button {
	box-shadow: inset 0 -.2rem .1rem rgba(0,0,0,.3);
	cursor: pointer;
}
#cathsform button:hover {
	box-shadow: inset 0 .1rem .1rem rgba(0,0,0,.2);
	cursor: pointer;
	color: #fff;
}

#caths #caths-container {
	margin: 0 auto;
	overflow: hidden;
	margin-top: 1.1rem;
	font-size: 22px;	
}

@media (max-width: 750px) {
	#caths-h1 {
		font-size: 1.7em;
		margin-top: 1em;
		margin-bottom: 0em;
	}
	#cathsform {
		/* Compensate for tappopup: Still allow scrolling to end */
		padding-top: .5rem;
		padding-bottom: 4rem;
	}
	#cathsform input, #cathsform select, #cathsform button {
		font-size: 1rem;
	}
	#caths #caths-as, #caths #caths-is {
		font-size: .8em;
	}
	#caths #caths-container {
		margin-top: 1em;
	}
	#caths #caths-is {
		margin-top:.15em;
	}
}

#caths #caths-plot {
	height: 475px;
	max-width: 1100px;
	margin: 0 auto;
}

#caths #caths-as,
#caths #caths-is {
	text-align: center;
	transition: all .15s;
	font-weight: 700;
}
#caths.format-desktop #caths-as {
	margin-bottom: .2em;
}
body #caths #caths-as:before,
body #caths #caths-is:after {
	content: "➔";
	display: inline-block;
	margin: 0 .4em;
}
#caths #caths-as:before {
	transform: rotate(90deg);
}
#caths #caths-is:after {
	transform: rotate(-90deg);
}
#caths.highlight-as #caths-as,
#caths.highlight-is #caths-is {
	/*text-shadow: 0 0 .2em #fff;*/
	color: #fff;
}

#caths-tappopup {
	display: none;
	position: fixed;
	opacity: 0;
	transition: bottom .15s, opacity .2s;
	bottom: -100px;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--col-hover-bg);
	border-top: 1px solid var(--col-hover-border);
	color: var(--col-hover-text);
	padding: .6em .5em 1.5em .5em;
	font-size: 18px;
	backdrop-filter: blur(.3em);
	font-weight: 400;
	box-shadow: 0 -.2em .4em rgba(0,0,0,.4);
	z-index: 999;
}
#caths-tappopup .extra {
	margin-top:.5em;
	font-size:.9em;
	opacity:.6;
}

#caths #caths-export {
	display: none;
	opacity: 0;
	transition: opacity .3s;
	margin-top: 1.3rem;
}
#caths #caths-export #caths-export-text {
	display: inline-block;
	background: rgba(200,200,200,.2);
	padding: .4rem .8rem;
	border-top-left-radius: .4rem;
	border-top-right-radius: .4rem;
}
#caths #caths-export img {
	display: block;
	border: 1px dotted rgba(150,150,150,.5);
	width: 50%;
	margin: 0 auto;
}

@media (min-width: 750px) {
	#caths-tappopup { display: none !important }
}

@media (max-width: 750px) {
	#caths { margin: 1rem }
	#caths #caths-container, #caths #caths-plot { width: 100% }
	#caths #caths-plot { height: 600px; }
	#caths #caths-as { text-align:left }
	#caths #caths-is { text-align:right }
}

#caths svg path {
	transition: fill-opacity .25s;
}

#caths svg text {
	text-shadow: none !important;
}

#caths svg .sel {
	/*filter: drop-shadow(0 0 .2em rgba(255, 255, 255, .5)) !important;*/
	fill-opacity: .51 !important;
	/* fill: #ddd; */
	/*stroke-width: 4px !important;
  	stroke: #ffffff !important;
  	stroke-opacity: .15 !important;*/
}
#caths svg .correct.sel {
	fill-opacity: .7 !important;
}
#caths svg .sankey-node.sel text {
	filter: drop-shadow(0 0 .15em rgba(255, 255, 255, .5)) !important;
}
#caths svg .sankey-node.sel rect {
	/*filter: drop-shadow(0 0 .1em rgba(255, 255, 255, .4)) !important;*/
	fill-opacity: 1 !important;
	stroke-width: 4px !important;
  	stroke: #fff !important;
  	stroke-opacity: .15 !important;
}
#caths svg g.hoverlayer path {
	/*backdrop-filter: blur(.3em); doesn't work */
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .4));
	-webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .4));
	fill-opacity: .9 !important;
}
#caths svg g.hoverlayer g.hovertext {
	/*visibility: hidden;*/
	opacity: 0;
	transition: opacity .2s;
}
#caths svg g.hoverlayer g.hovertext path {
	stroke-width: 0 !important;
	stroke: rgba(0,0,0,.5) !important;
	transform: scale(1.1);
}
#caths svg g.hoverlayer g.hovertext text {
	transform: translate(0, 10px);
}
#caths svg g.hoverlayer g.hovertext.start text {
	transform: translate(10px, 10px);
}
#caths svg g.hoverlayer g.hovertext.end text {
	transform: translate(-10px, 10px);
}
#caths svg g.hoverlayer tspan:first-child tspan:first-child,
#caths-tappopup span:first-child {
	font-size: 1.3em;
	font-weight: 700;
}
#caths svg g.hoverlayer tspan tspan:nth-child(2) {
	/*num ... fill: #999;*/
}
#caths svg g.hovertext tspan:last-child tspan:last-child,
#caths-tappopup span:last-of-type:not(:first-child) {
	font-weight: bold;
	font-size: 17px;
}
#caths svg g.hovertext.correct tspan:last-child tspan:last-child,
#caths-tappopup.correct span:last-of-type:not(:first-child) {
	font-weight: normal;
}

/*#caths svg g.hovertext.subst-2mmc tspan,*/
/*#caths svg g.hovertext.as-2mmc.is-2mmc tspan,*/
#caths svg g.hovertext.is-2mmc tspan:last-child tspan:last-child,
/*#caths-tappopup.subst-2mmc,*/
/*#caths-tappopup.as-2mmc.is-2mmc,*/
#caths-tappopup.is-2mmc span:last-of-type {
	fill: var(--col-2mmc);
	color: var(--col-2mmc);
}
/*#caths svg g.hovertext.subst-3mmc tspan,*/
/*#caths svg g.hovertext.as-3mmc.is-3mmc tspan,*/
#caths svg g.hovertext.is-3mmc tspan:last-child tspan:last-child,
/*#caths-tappopup.subst-3mmc,*/
/*#caths-tappopup.as-3mmc.is-3mmc,*/
#caths-tappopup.is-3mmc span:last-of-type {
	fill: var(--col-3mmc);
	color: var(--col-3mmc);
}
/*#caths svg g.hovertext.subst-4mmc tspan,*/
/*#caths svg g.hovertext.as-4mmc.is-4mmc tspan,*/
#caths svg g.hovertext.is-4mmc tspan:last-child tspan:last-child,
/* #caths-tappopup.subst-4mmc, */
/*#caths-tappopup.as-4mmc.is-4mmc,*/
#caths-tappopup.is-4mmc span:last-of-type {
	fill: var(--col-4mmc);
	color: var(--col-4mmc);
}
/*#caths svg g.hovertext.subst-3cmc tspan,*/
/*#caths svg g.hovertext.as-3cmc.is-3cmc tspan,*/
#caths svg g.hovertext.is-3cmc tspan:last-child tspan:last-child,
/*#caths-tappopup.subst-3cmc,*/
/*#caths-tappopup.as-3cmc.is-3cmc,*/
#caths-tappopup.is-3cmc span:last-of-type {
	fill: var(--col-3cmc);
	color: var(--col-3cmc);
}
/*#caths svg g.hovertext.subst-4cmc tspan,*/
/*#caths svg g.hovertext.as-4cmc.is-4cmc tspan,*/
#caths svg g.hovertext.is-4cmc tspan:last-child tspan:last-child,
/*#caths-tappopup.subst-4cmc,*/
/*#caths-tappopup.as-4cmc.is-4cmc,*/
#caths-tappopup.is-4cmc span:last-of-type {
	fill: var(--col-4cmc);
	color: var(--col-4cmc);
}
/*#caths svg g.hovertext.subst-dimethylpentylon tspan,*/
/*#caths svg g.hovertext.as-dimethylpentylon.is-dimethylpentylon tspan,*/
#caths svg g.hovertext.is-dimethylpentylon tspan:last-child tspan:last-child,
/*#caths-tappopup.subst-dimethylpentylon,*/
/*#caths-tappopup.as-dimethylpentylon.is-dimethylpentylon,*/
#caths-tappopup.is-dimethylpentylon span:last-of-type {
	fill: var(--col-dimethylpentylon);
	color: var(--col-dimethylpentylon);
}

body.caths-color-zurich-white #caths svg g.hovertext.is-2mmc tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-3cmc tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-etc tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-mix tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-4cmc tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-mdma tspan:last-child tspan:last-child,
body.caths-color-zurich-white #caths svg g.hovertext.is-dimethylpentylon tspan:last-child tspan:last-child,
#caths-tappopup.is-2mmc span:last-of-type,
#caths-tappopup.is-3cmc span:last-of-type,
#caths-tappopup.is-etc span:last-of-type,
#caths-tappopup.is-mix span:last-of-type,
#caths-tappopup.is-4cmc span:last-of-type,
#caths-tappopup.is-mdma span:last-of-type,
#caths-tappopup.is-dimethylpentylon span:last-of-type,
body.caths-color-zurich-black #caths svg g.hovertext.as-3mmc.is-3mmc tspan,
body.caths-color-zurich-black #caths svg g.hovertext.as-4mmc.is-4mmc tspan,
body.caths-color-zurich-black #caths-tappopup.is-3mmc span:last-of-type,
body.caths-color-zurich-black #caths-tappopup.is-4mmc span:last-of-type {
	fill: var(--col-hover-hilite);
	color: var(--col-hover-hilite);
}
